@page "/enter"
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light" style="background-color: white;">
    <div class="container">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-dark" href="#">Банк Приколофф</a>
        </div>
    </div>
</nav>
<section id="hero">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6" style="width:100%">
                <h2 class="text-left">
                    Вход в аккаунт
                </h2>
                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                    <div class="card-body">

                        <form>
                            <div class="form-group mb-4 text-start">
                                <label for="email"><b>Email</b></label>
                                <input type="email" class="form-control" id="email"
                                       placeholder="Введите ваш email">
                            </div>
                            <div class="w-100 d-flex justify-content-center">
                                <button type="button" class="btn btn-dark btn-lg w-100">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
