@page "/"
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject BlazorUser User
@inject IToastService ToastService
@inject IJSRuntime JSRuntime
@using System.Text.RegularExpressions;
@using System.Text.Json;

<nav class="navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light" style="padding-bottom: 0px; padding-top: 15px;">
    <div class="container" style="margin-bottom: 15px;">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="color: white; padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-light" href="#">Банк Приколофф</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto w-100 d-flex justify-content-end">
                <div class="nav-item w-50 d-flex justify-content-end">
                    @if (BlazorUser.User is null || string.IsNullOrEmpty(BlazorUser.User.ClientId))
                    {
                        <a href="Enter" class="btn btn-dark btn-lg">Войти в аккаунт</a>
                    }
                    else
                    {
                        <a href="Personal" class="btn btn-dark btn-lg">Личный кабинет</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="contatiner" style="width: 100%;">
        <div class="marquee-container">
            <div class="marquee">
                <span>Уважаемые клиенты, по техническим причинам мобильная версия сайта временно может работать неправильно. Пожалуйста, пользуйтесь сайтом с компьютера &nbsp;</span>
            </div>
        </div>
    </div>
</nav>


<section class="heroSec" id="hero" style="padding-top: 40%;">
    <div class="container">
        <div class="main" style="display: flex; height: 100%;">
            <div class="col d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">

                    <h1>Банк «Приколофф» — <br> твой верный спутник в мире финансов!</h1>
                    <p style="padding-bottom: 4px;  font-weight: 700; color: black; font-size: large">Мы самый молодой
                        российский бренд и самый сильный банковский бренд в мире по версии Brand Finance. Наша цель —
                        сделать Банк «Приколофф» одной из лучших финансовых и технологических компаний в мире.</p>
                    <p style="padding-bottom: 10px;  font-weight: 700; color: black; font-size: large">Нашей миссией
                        является дать людям уверенность и надёжность, помогая реализовывать устремления и мечты.</p>

                    <h4 style="font-weight: 700; color: mediumpurple; font-size: large">
                        <b>Почему именно мы?</b></h4>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Выгода с первого взгляда:</h5>
                                            <h6>Открывай счет и получай приветственный бонус – 1000 рублей на карту. Это
                                                отличная возможность начать управлять своими финансами с выгодой!</h6>
                                        </div>
                                        <i class="bi bi-cash ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Проценты за тобой:</h5>
                                            <h6>Наши ставки по вкладам — самые высокие на рынке. Получайте максимальный
                                                доход от своих сбережений с нашими привлекательными процентными
                                                ставками.</h6>
                                        </div>
                                        <i class="bi bi-percent ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Удобство в твоих руках:</h5>
                                            <h6>Управляй своими финансами с удобного мобильного приложения. Операции по
                                                счету, переводы, оплата услуг — все это доступно в любое время и в любом
                                                месте.</h6>
                                        </div>
                                        <i class="bi bi-phone ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Поддержка 24/7:</h5>
                                            <h6>Наши специалисты всегда готовы помочь тебе с любым вопросом. Получайте
                                                консультации и поддержку в любое время суток.</h6>
                                        </div>
                                        <i class="bi bi-headset ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Безопасность и надежность:</h5>
                                            <h6>Мы гарантируем безопасность ваших средств и данных. Используем передовые
                                                технологии защиты и соблюдаем все стандарты безопасности.</h6>
                                        </div>
                                        <i class="bi bi-shield-check ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 20px;">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5>Персональный финансовый консультант:</h5>
                                            <h6>Получайте индивидуальные рекомендации и советы от наших экспертов.
                                                Оптимизируйте свои финансовые решения с помощью персонального
                                                консультанта.</h6>
                                        </div>
                                        <i class="bi bi-person-lines-fill ms-auto" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            style="visibility: hidden;" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <h2>
                                Заполни заявку!
                            </h2>
                            <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                                <div class="card-body">

                                    <form>
                                        <div class="form-floa mb-4 text-start">
                                            <label for="email"><b>Email</b></label>
                                            <input type="email" class="form-control" @bind="Email"
                                                placeholder="example@mail.com">

                                            @if (ShowEmailMessage)
                                            {
                                                <p class="text-danger">Email не введен</p>
                                            }
                                            @if (ShowInvalidEmailMessage && !ShowEmailMessage)
                                            {
                                                <p class="text-danger">Неверный формат email</p>
                                            }

                                        </div>
                                        <div class="form-group mb-4 text-start">
                                            <label for="lastName"><b>Фамилия</b></label>
                                            <input type="text" class="form-control" @bind="LastName"
                                                placeholder="Иванов">
                                            @if (ShowLastNameMessage)
                                            {
                                                <p class="text-danger">Фамилия некорректна</p>
                                            }
                                        </div>
                                        <div class="form-group mb-4  text-start">
                                            <label for="firstName"><b>Имя</b></label>
                                            <input type="text" class="form-control" placeholder="Иван"
                                                @bind="FirstName">
                                            @if (ShowFirstNameMessage)
                                            {
                                                <p class="text-danger">Имя некорректно</p>
                                            }
                                        </div>
                                        <div class="form-group mb-4 text-start">
                                            <label for="Patronomic"><b>Отчество</b></label>
                                            <input type="text" class="form-control" @bind="Patronomic"
                                                placeholder="Иванович" disabled="@NoPatronymic">
                                            @if (ShowPatronomicMessage)
                                            {
                                                <p class="text-danger">Отчество некорректно</p>
                                            }
                                        </div>
                                        <div class="form-check text-start mb-4">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault"  @bind="NoPatronymic">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Нет отчества
                                            </label>
                                        </div>
                                        <div class="w-100 d-flex justify-content-center">
                                            <button type="button" class="btn btn-dark btn-lg w-100" disabled="@isButtonDisabled" 
                                                @onclick="CheckFields">Стать клиентом</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-white text-dark py-4 border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Адрес</h5>
                <p>г. Москва, ул. Болотная набережная, д.15</p>
            </div>
            <div class="col-md-6">
                <h5>Информация</h5>
                <p><a href="../license_prikoloff.jpg" style="color: black;">Генеральная лицензия на осуществление банковских операций от 10 декабря 2024 года. Регистрационный
                    номер — 2145</a></p>
                <p>© 2024 — <span id="currentYear"></span> ПАО Приколофф</p>
                <p>800 Для бесплатных звонков с мобильных на территории РФ</p>
                <p>8 (800) 555 35-35 Для звонков из любой точки мира</p>
            </div>
        </div>
    </div>
</footer>



<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>


@code {
    public string ClientId { get; set; }
    public string Login { get; set; }
    public string Password { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string? Patronomic { get; set; }
    public string Email { get; set; }
    private bool NoPatronymic { get; set; }
    private bool ShowEmailMessage { get; set; }
    private bool ShowFirstNameMessage { get; set; }
    private bool ShowLastNameMessage { get; set; }
    private bool ShowPatronomicMessage { get; set; }
    private bool ShowInvalidEmailMessage { get; set; }

    User user = new User();

    public bool isButtonDisabled = false;

    private void ValidatePatronymic()
    {
        ShowPatronomicMessage = string.IsNullOrWhiteSpace(Patronomic) && !NoPatronymic;
    }
    private async Task CheckFields()
    {
        
     
        ShowEmailMessage = string.IsNullOrEmpty(Email);
        ShowFirstNameMessage = string.IsNullOrEmpty(FirstName) || FormatName(FirstName) == null;
        ShowLastNameMessage = string.IsNullOrEmpty(LastName) || FormatName(LastName) == null;
        ShowPatronomicMessage = !NoPatronymic && (string.IsNullOrEmpty(Patronomic) || FormatName(Patronomic) == null);
        ShowInvalidEmailMessage = !IsValidEmail(Email);

        if (!ShowEmailMessage && !ShowFirstNameMessage && !ShowLastNameMessage && !ShowPatronomicMessage && !ShowInvalidEmailMessage)
        {

            isButtonDisabled = true;

            HttpClient client = new HttpClient();
            client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");

            HttpResponseMessage response = await client.GetAsync($"api/User/email/{Email}");

            if (response.IsSuccessStatusCode)
            {
                ToastService.ShowError("Данная почта уже занята");
                isButtonDisabled = false;
                return;
            }
            else
            {
                var errorResponse = await response.Content.ReadAsStringAsync();

                var shortErrorResponse = errorResponse.Split('\n')[0];

                if (errorResponse != null && !string.IsNullOrEmpty(errorResponse) && shortErrorResponse  == "System.ArgumentException: Email not registered")
                {
                    user.Email = Email;
                    user.FirstName = FirstName;
                    user.LastName = LastName;
                    user.Patronomic = Patronomic;
                    BlazorUser.User = user;
                    NavigationManager.NavigateTo("/registration");
                }
                else 
                {
                    isButtonDisabled = false;
                    ToastService.ShowError(shortErrorResponse);
                }
            }

        }
    }
    private bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;
        string pattern = @"^[a-zA-Z0-9\.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$";
        return Regex.IsMatch(email, pattern);
    }

    private string FormatName(string name)
    {
        name = Regex.Replace(name, @"[^а-яА-ЯёЁa-zA-Z\-]", "");

        if (string.IsNullOrEmpty(name))
        {
            return null;
        }
        else
        {
            if (Regex.IsMatch(name, @"^[а-яА-ЯёЁa-zA-Z]+(-[а-яА-ЯёЁa-zA-Z]+)?$"))
            {
                name = name.ToLower();
                string[] words = name.Split('-');
                for (int i = 0; i < words.Length; i++)
                {
                    if (words[i].Length > 0)
                    {
                        words[i] = char.ToUpper(words[i][0]) + words[i].Substring(1);
                    }
                }
                return string.Join("-", words);
            }
            else
            {
                return null;
            }
        }
    }
    protected async override Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentTime = date.ToShortTimeString();
        CurrentDate = date.ToShortDateString();
        // Восстановление состояния из PersistentState
        
        var clientId = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "ClientId");
        if (!string.IsNullOrEmpty(clientId))
        {
            HttpClient client = new HttpClient();
            client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
            //Console.WriteLine(clientId);
            BlazorUser.User = await client.GetFromJsonAsync<User>($"api/User/id/{clientId}");
            
            if (BlazorUser.User == null)
            {
                ToastService.ShowInfo("Нет пользователя с таким идентификатором");
                return;
            }
            ToastService.ShowInfo("ЮЗЕР ЖИВ");
        }
        else
            ToastService.ShowInfo("ГДЕ ЮЗЕР");
        return; 
    }

    public class ErrorResponse
    {
        public string Error { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

}
