@page "/personal"
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject BlazorUser User

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light">
    <div class="container">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="color: white; padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-light" href="./Personal">Банк Приколофф</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto w-100 d-flex justify-content-end">

            </div>
        </div>
    </div>
</nav>
<section class="heroSec" id="hero" style="padding-top: 40%;">
    <div class="container">
        <div class="main" style="display: flex; height: 100%;">
            <div class="col d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h1>Добро пожаловать,(Имя)</h1>
                        <h4>Ваши карты</h4>
                            <div class="scroll-container">
                                <div class="scroll-card">
                                    <div class="card">
                                        <div class="front">
                                            <div style="padding-bottom: 30px;">
                                                2222 2222 2222 2222
                                            </div>
                                            <div style="display: flex; flex-direction: row; justify-content: flex-start; gap: 20%">
                                                <div>
                                                    NAME SURNAME
                                                </div>
                                                <div>
                                                    01/01
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
                                                <div>cvv: 123</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div style="padding-bottom: 3%; margin-bottom: 3%; border-bottom: 1px solid #ccc;">
                        <h4>Ваши вклады</h4>
                        <h6>Вклады отсутствуют</h6>
                    </div>   

                    <h4>Ваши кредиты</h4>
                    <div class="scroll-container">
                            <div class="scroll-item">
                                <div>
                                    Сумма: 70 000₽
                                </div>
                                <div>
                                    До следующего платежа: 8 дней
                                </div>
                                <div>
                                    Осталось погасить: 40 000₽
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-white text-dark py-4 border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Адрес</h5>
                <p>г. Москва, ул. Болотная набережная, д.15</p>
            </div>
            <div class="col-md-6">
                <h5>Информация</h5>
                <p>Генеральная лицензия на осуществление банковских операций от 10 декабря 2024 года. Регистрационный
                    номер — 1481</p>
                <p>© 2024 — <span id="currentYear"></span> ПАО Приколофф</p>
                <p>800 Для бесплатных звонков с мобильных на территории РФ</p>
                <p>8 (800) 555 35-35 Для звонков из любой точки мира</p>
            </div>
        </div>
    </div>
</footer>



<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>


@code {
    public string ClientId { get; set; }
    public string Login { get; set; }
    public string Password { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string? Patronomic { get; set; }
    public string Email { get; set; }
    private bool NoPatronymic { get; set; }
    private bool ShowEmailMessage { get; set; }
    private bool ShowFirstNameMessage { get; set; }
    private bool ShowLastNameMessage { get; set; }
    private bool ShowPatronomicMessage { get; set; }
    private bool ShowInvalidEmailMessage { get; set; }

User user = new User();

private void ValidatePatronymic()
{
    ShowPatronomicMessage = string.IsNullOrWhiteSpace(Patronomic) && !NoPatronymic;
}
private void CheckFields()
    {
        ShowEmailMessage = string.IsNullOrEmpty(Email);
        ShowFirstNameMessage = string.IsNullOrEmpty(FirstName);
        ShowLastNameMessage = string.IsNullOrEmpty(LastName);
        ShowPatronomicMessage = !NoPatronymic && string.IsNullOrEmpty(Patronomic);
        ShowInvalidEmailMessage = !IsValidEmail(Email);

        if (!ShowEmailMessage && !ShowFirstNameMessage && !ShowLastNameMessage && !ShowPatronomicMessage && !ShowInvalidEmailMessage)
        {
            user.Email = Email;
            user.FirstName = FirstName;
            user.LastName = LastName;
            user.Patronomic = Patronomic;
            BlazorUser.User = user;
            NavigationManager.NavigateTo("/registration");
        }
    }

    private bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        try
        {
            // Проверка на соответствие формату email
            var addr = new System.Net.Mail.MailAddress(email);
            return addr.Address == email;
        }
        catch
        {
            return false;
        }
    }


    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentTime = date.ToShortTimeString();
        CurrentDate = date.ToShortDateString();
        //user = BlazorUser.User;
        //var client = new HttpClient();
        //client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        //result = await client.GetFromJsonAsync<User[]>("api/User");

        return;
    }
}
