@page "/registration"
@inject IJSRuntime JSRuntime
@inject BlazorUser BlazorUser
@inject BlazorUser User
@inject IToastService ToastService


<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light" style="background-color: white;">
    <div class="container">
        <div style="width: 50%;">
            <i class="bi bi-cash-coin" style="padding-right: 1%;"></i>
            <a class="navbar-brand w-25 text-dark" href="#">Банк Приколофф</a>
        </div>
    </div>
</nav>
<section id="hero">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            @if(step == 0){
                <div class="col-md-6" style="width:100%">
                    <h2 class="text-left">
                        Подтверждение почты
                    </h2>
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                            <div class="card-body">
                                <form>
                                    <div class="form-group mb-4 text-start">
                                        <label for="email"><b>Код подтверждения</b></label>
                                        @if(sendCode == true){
                                            <input type="text" class="form-control" @bind="fieldCode"
                                            placeholder="Введите код подверждения">
                                        }
                                    </div>
                                    @if(codeNull){
                                        <p style="color: red;">Введите код</p>
                                    }
                                    @if(error != false){
                                        <p style="color: red;">Неверный код</p>
                                    }
                                    @if(sendCode == false){
                                        <div class="w-100 d-flex justify-content-center">
                                            <button type="button" @onclick="ShowNotification" class="btn btn-dark btn-lg w-100">Отправить код</button>
                                        </div>
                                    }
                                    else{
                                        <div class="w-100 d-flex justify-content-center">
                                            <button type="button" @onclick="CheckEmail" class="btn btn-dark btn-lg w-100">Подтвердить</button>
                                        </div>
                                        if(error != false){
                                            <div class="w-100 d-flex justify-content-center" style="padding-top: 10%;">
                                                <button type="button" @onclick="ShowNotification" style="background-color: white; border:white;">Отправить код заново</button>
                                            </div>
                                            error = false;
                                        }
                                    }
                                    
                                </form>
                            </div>
                        </div>
                    </div>
            }
            @if(step == 1){
                <div class="col-md-6" style="width:100%">
                    <h2 class="text-left">
                        Регистрация аккаунта
                    </h2>
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                        <div class="card-body">
                            <form>
                                <div class="form-group mb-4 text-start">
                                    <div style="padding-bottom: 10px;">
                                        <label for="email"><b>Дата рождения</b></label>
                                        <input type="date" class="form-control" id="birthday" @bind="user.DateOfBirth"/>
                                    </div>

                                    <div style="display: flex; flex-direction: row; gap:10px; padding-bottom: 10px">
                                        <div style="display:flex; flex-direction: column;">
                                            <label for="email"><b>Серия паспорта</b></label>
                                            <input type="text" class="form-control" id="series" placeholder="ХХ ХХ" maxlength="5" oninput="formatSeries(this)" @bind="user.SeriesPasport">
                                        </div>
                                        <div style="display: flex; flex-direction: column;">
                                            <label><b>Номер паспорта</b></label>
                                            <input type="text" class="form-control" id="number" placeholder="XXX XXX" maxlength="7" oninput="formatNumber(this)" @bind="user.NumberPasport">
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 10px;">
                                        <label for="phone"><b>Логин</b></label>
                                        <input type="text" class="form-control" id="Login" @bind="user.Login"/>
                                    </div>
                                    <div style="padding-bottom: 10px;">
                                        <label for="phone"><b>Пароль</b></label>
                                        <input type="password" class="form-control" id="Password" @bind="user.Password"/>
                                        <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px;">
                                            Показать пароль
                                            <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                                        </div>

                                    </div>

                                </div>
                                <div class="w-100 d-flex justify-content-center">
                                    <button type="button" class="btn btn-dark btn-lg w-100" @onclick="RegistrateUser" disabled="@isButtonDisabled">Зарегистрироваться</button>
                                    @if(suc){
                                        <p>Юзер жив</p>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            @if(step == 2){
                <div class="col-md-6" style="width:100%">
                    <h2 class="text-left">
                        Вы успешно зарегистрированы
                    </h2>
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                            <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                                <form>
                                    <div class="form-group mb-4 text-center">
                                        <a href="./Enter" style="
                                            display: inline-block;
                                            background-color: black; 
                                            color: white; 
                                            border-radius: 5px; 
                                            padding: 15px 30px; 
                                            text-decoration: none;
                                            font-size: 16px; 
                                            font-weight: bold;
                                        ">Перейти ко входу</a>
                                    </div>                
                                </form>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</section>
<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("Password");
        var checkbox = document.getElementById("showPassword");

        if (checkbox.checked) {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>  

<script>

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('series').value = '';
        document.getElementById('number').value = '';
    });

    function formatSeries(input) {
        let value = input.value.replace(/\D/g, ''); 
        let formattedValue = '';

        if (value.length > 2) {
            formattedValue = value.slice(0, 2) + ' ' + value.slice(2, 4);
        } else {
            formattedValue = value;
        }

        input.value = formattedValue;
    }

    function formatNumber(input) {
        let value = input.value.replace(/\D/g, '');
        let formattedValue = '';

        if (value.length > 3) {
            formattedValue = value.slice(0, 3) + ' ' + value.slice(3, 6);
        } else {
            formattedValue = value;
        }

        input.value = formattedValue;
    }
</script>
@code{

    User user;

    public string fieldCode { get; set; }
    private bool isButtonDisabled = false;

    Random random = new Random();
    int step = 0;
    int code;
    bool suc = false;
    bool sendCode = false;
    bool error = false;
    bool codeNull = false;
    protected override void OnInitialized()
    {
        user = BlazorUser.User;
        user.DateOfBirth = DateTime.Now.AddYears(-20);
        code = random.Next(11111, 99999);

    }

    private async Task RegistrateUser()
    {
        isButtonDisabled = true;

        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://bankprikoloff.onrender.com/");
        HttpResponseMessage response = await client.PostAsJsonAsync("api/User", user);

        if (response.IsSuccessStatusCode)
        {
            step = 2;
        }
        else
        {
            isButtonDisabled = false;
            ToastService.ShowError("Все сломалось");
        }
    }

    private async Task ShowNotification()
    {
        var title = "Уведомление";
        var options = new
        {
            body = $"Ваш код подтверждения: {code}",
        };

        await JSRuntime.InvokeVoidAsync("notification.showNotification", title, options);
        sendCode = true;
    }
    private void CheckEmail(){
        if(string.IsNullOrEmpty(fieldCode)){
            codeNull = true;
        }
        if (int.TryParse(fieldCode, out int parsedCode) && parsedCode == code)
        {
            step = 1;
        }
        else{
            error = true;
        }
    }


}